body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f2f5;
    color: #333;
}
header {
    background-image: linear-gradient(90deg,#004794, #0059b7, #007BFF, #0059b7, #004794);
    color: white;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
.form-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form label {
    display: block;
    margin-top: 15px;
}
form select, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
}
form button:hover{
    background-color: #0059b7;
}
#recommendation {
    margin-top: 30px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#recommendation h2{
    color: #007BFF;
}
#result p::before{
    content: "- ";
    color: #007BFF;
    font-size: 25px;
    font-weight: bold;
}
#result p {
    margin: 10px 20px;
    font-size: 20px;
}
nav {
    background-color: transparent;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(to left, transparent, transparent 50%, white 50%, white);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    padding: 4px 16px;
    border-radius: 10px;
}
nav ul li a:hover {
    background-position: 0 0;
    color: #007BFF;
}
.currentPage{
    background-position: 0 0;
    color: #007BFF;
}
#backBttn{
    text-decoration: none;
    padding: 5px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    float: right;
    margin-top: 20px;
}
#backBttn:hover{
    background-color: #0059b7;
}
footer {
    background: #004794;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}
